.box{
    width: 300px;
    height: 300px;
    color: black;
    margin: -7px auto auto 0px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(95, 93, 93, 0.1);
    text-align: center;
    border-radius: 20px;
    background-color: rgb(244, 240, 235);
}
