.Carousel_img{
    width: 800px;
    height: 75vh;
    text-align: center;
     object-fit: cover;
     display: block;
    margin: 5px auto 0 auto;
}
.body{
    margin: 0px 3px ;
    padding: 0px;
    text-align: center;
    background-color: rgb(63, 62, 62);
}
